body{
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f4;
    -webkit-font-smoothing: antialiased;
}

.bg-light {
    background-color: #EFEFEF !important;
}
.navbar{
    display: flex;
    justify-content: space-between;
}

.container-nav{
    display: flex;
    width: 25%;
    justify-content: space-between;
}

.nav-link{
    font-weight: 500;
    color: #000000;
    
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding-left: 10%;
    color: #000000;
}

.sidenav-language {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #F4F4F4;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav-language a {
    padding: 4px 4px 0px 10px;
    font-weight: 600;
    text-decoration: none;
    font-size: 25px;
    color: #303030;
    display: block;
    transition: 0.3s;
}

.sidenav-language #check-icon{
    margin-left: 25%;
}

.sidenav-language a:hover {
    color: #25282B;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.sidenav-language .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: none;
}

.btn{
    color: #ffffff;
    background-color: #1072A8;
    border-radius: 10px;
    border-color: #1072a8;
    text-align: center;
    vertical-align: middle;
    margin-right: 3%;
    font-weight: 400;
}

#globe-icon{
    color: #52575C;
}

.btn-language{
    border: none;
}

.btn-language:focus {
    outline: none; 
}

.btn-language:active {
    outline: none; 
}


/*PARTE RESPONSIVA DO SITE*/

@media screen and (max-height: 450px) {
    .sidenav-language {
        padding-top: 15px;
    }
    .sidenav-language a {
        font-size: 18px;
    }
    }
    