body{
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f4;
    -webkit-font-smoothing: antialiased;
    height: 100000px;
}

.bg-light {
    background-color: #EFEFEF !important;
}
.navbar{
    display: flex;
    justify-content: space-between;
}

.container-nav{
    display: flex;
    width: 25%;
    justify-content: space-between;
}

.nav-link{
    font-weight: 500;
    color: #000000;
    
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding-left: 10%;
    color: #000000;
}

.sidenav-language {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #F4F4F4;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: 20px 0px 25px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.sidenav-language a {
    padding: 4px 4px 0px 10px;
    font-weight: 600;
    text-decoration: none;
    font-size: 25px;
    color: #303030;
    display: block;
    transition: 0.3s;
}

.sidenav-language #check-icon{
    margin-left: 25%;
}

.sidenav-language a:hover {
    color: #25282B;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.sidenav-language .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav-language .dark-theme #toggle-icon{
    color: #25282B;
}

.dark-theme{
    font-weight: 500;
    color: #52575C;
    padding-top: 230%;
    margin-left: 35%;
}

#main {
    transition: margin-left .5s;
    padding: none;
}

.btn{
    color: #ffffff;
    background-color: #1072A8;
    border-radius: 10px;
    border-color: #1072a8;
    text-align: center;
    vertical-align: middle;
    margin-right: 3%;
    font-weight: 400;
}

#globe-icon{
    color: #52575C;
}

.btn-language{
    border: none;
    background-color: #EFEFEF;
}

.btn-language:focus {
    outline: none; 
}

.btn-language:active {
    outline: none; 
}


main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    color: #25282B;
    font-weight: 500;
    font-size: 54px;
    text-align: center;
    margin-top: 3%;
    letter-spacing: -0.005em;
    line-height: 120%;
}

.subtitle{
    font-weight: 300;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0.035em;
    line-height: 133.5%;
}

#hire-button{
    color: #F2F2F2;
    font-size: 20px;
    background: #208AC3;
    border-color: #208AC3;
    border-radius: 10px;
    padding: 5px;
    user-select: none;
    border-style: none;
    box-shadow: 0px 3px 4px rgba(136, 136, 136, 0.25);
    margin-right: 15px;
}

#read-button{
    background-color: transparent;
    border-radius: 10px;
    border-color: #01508A;
    color: #01508A;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 0px 3px 4px rgba(136, 136, 136, 0.25);
    padding: 5px;
    margin-left: 15px;
}
.container-button{
    margin-top: 3%;
}

.content-img{
    margin-top: 30px;
}

/*PARTE RESPONSIVA DO SITE*/

@media screen and (max-height: 450px) {
    .sidenav-language {
        padding-top: 15px;
    }
    .sidenav-language a {
        font-size: 18px;
    }
    }
    