html {
	scroll-behavior: smooth;
}

body {
	font-family: "Montserrat", sans-serif;
	background-color: #f4f4f4;
	-webkit-font-smoothing: antialiased;
	max-height: 100%;
}

a:link {
	color: #000000;
	text-decoration: none;
}

.grow:hover {
	color: #000000;
	-webkit-transform: scale(1.04);
	-ms-transform: scale(1.04);
	transform: scale(1.04);
}

.bg-light {
	background-color: #efefef !important;
}
.navbar {
	display: flex;
	justify-content: space-between;
}

.container-nav {
	display: flex;
	width: 25%;
	justify-content: space-between;
}

.nav-link {
	font-weight: 500;
	color: #000000;
}

.navbar-expand-lg .navbar-nav .nav-link {
	padding-left: 10%;
	color: #000000;
}

#img-main:hover {
}

.sidenav-language {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #f4f4f4;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	box-shadow: 20px 0px 25px rgba(0, 0, 0, 0.25);
	overflow: hidden;
}

.sidenav-language a {
	padding: 4px 4px 0px 10px;
	font-weight: 600;
	text-decoration: none;
	font-size: 25px;
	color: #303030;
	display: block;
	transition: 0.3s;
}

.sidenav-language #check-icon {
	margin-left: 25%;
}

.sidenav-language a:hover {
	color: #25282b;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.sidenav-language .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

.sidenav-language .dark-theme #toggle-icon {
	color: #25282b;
}

.dark-theme {
	font-weight: 500;
	color: #52575c;
	padding-top: 200%;
	margin-left: 35%;
}

#main {
	transition: margin-left 0.5s;
	padding: none;
}

.settings {
	margin-right: 60%;
}

#down-icon {
	cursor: pointer;
}

#settings-icon {
	cursor: pointer;
}

#settings-icon:hover {
	cursor: pointer;
	animation: spin 0.7s;
}
#chevron-down:hover {
	cursor: pointer;
}
.btn {
	color: #ffffff;
	background-color: #137cb4;
	border-radius: 10px;
	border-color: #137cb4;
	text-align: center;
	vertical-align: middle;
	margin-right: 3%;
	font-weight: 400;
}

#globe-icon {
	color: #52575c;
}

.btn-language {
	border: none;
	background-color: #efefef;
}

.btn-language:focus {
	outline: none;
}

.btn-language:active {
	outline: none;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title {
	color: #25282b;
	font-weight: 500;
	font-size: 54px;
	text-align: center;
	margin-top: 3%;
	letter-spacing: -0.005em;
	line-height: 120%;
	-webkit-animation: scale-up-center 0.3s cubic-bezier(0.39, 0.575, 0.565, 1)
		both;
	animation: scale-up-center 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.subtitle {
	font-weight: 300;
	font-size: 24px;
	text-align: center;
	letter-spacing: 0.035em;
	line-height: 133.5%;
}
#hire-button {
	color: #f2f2f2;
	font-size: 20px;
	background: #208ac3;
	border-color: #137cb4;
	border-radius: 10px;
	padding: 5px;
	user-select: none;
	border-style: none;
	box-shadow: 0px 3px 4px rgba(136, 136, 136, 0.25);
	margin-right: 15px;
}

#read-button {
	background-color: transparent;
	border-radius: 10px;
	border-color: #01508a;
	color: #01508a;
	font-size: 20px;
	border-radius: 10px;
	box-shadow: 0px 3px 4px rgba(136, 136, 136, 0.25);
	padding: 5px;
	margin-left: 15px;
}

.container-button :hover {
	-webkit-transform: translateY(1px);
	transform: translateY(1px);
}

.container-button {
	margin-top: 3%;
}

.content-img {
	margin-top: 30px;
}

.card-group {
	position: relative;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	padding: 30px;
	margin-top: 400px;
	-webkit-box-pack: center;
	justify-content: center;
}

.card {
	position: relative;
	box-shadow: 0 0 10px 0 rgba(120, 135, 182, 0.1);
	max-width: 350px;
	max-height: 480px;
	background: #fff;
	padding-top: 65px;
	margin: 27px;
}

.card-maior {
	position: relative;
	box-shadow: 0 0 10px 0 rgba(120, 135, 182, 0.1);
	max-width: 356px;
	max-height: 501px;
	background: #fff;
	padding-top: 65px;
	margin-bottom: -65px;
	border-top: 7px solid #008fff;
}

.avatar {
	border-radius: 50%;
	background-color: #fff;
	box-shadow: 1px 5px 4px rgba(0, 0, 0, 0.1), 1px 2px 4px rgba(0, 0, 0, 0.1),
		0px 4px 4px rgba(0, 0, 0, 0.1);
	top: -65px;
	margin-left: -75px;
	left: 53%;
	position: absolute;
	width: 130px;
	height: 130px;
	display: flex;
	justify-content: center;
}

.avatar img {
	display: flex;
	justify-content: center;
}

h1,
h2,
h3,
h4,
h5 {
	font-weight: 300;
	margin-top: 0;
	margin-bottom: 15px;
}

.name {
	display: flex;
	justify-content: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 800;
	font-size: 36px;
	line-height: 36px;
	letter-spacing: -0.015em;
	color: #25282b;
	margin-top: 20px;
}

.reverse-title {
	word-spacing: 5px;
	float: right;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 36px;
	letter-spacing: -0.015em;
	color: #25282b;
}

.value {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 36px;
	letter-spacing: -0.015em;
	color: #000000;
	display: flex;
	justify-content: center;
	margin-top: 5px;
}
.price-text {
	display: flex;
	justify-content: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 10.667px;
	line-height: 5px;
	letter-spacing: -0.015em;
	color: #52575c;
}

.desc-card {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	letter-spacing: 0.001em;
	color: #303030;
}

.follow-btn button {
	display: flex;
	justify-content: center;
	color: #fff;
	background: #2f80ed;
	border-radius: 5px;
	border: none;
	transition: background-color 100ms ease-in-out,
		transform 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
	margin-top: 70px;
	position: relative;
	width: 161px;
	height: 45px;
	left: 40%;
	margin-left: -50px;
	font-family: Montserrat;
	font-style: normal;
	align-items: center;
	font-weight: 600;
	font-size: 14px;
	line-height: 36px;
}

.follow-btn-gray {
	display: flex;
	align-content: center;
	align-items: center;
}

.follow-btn-gray button {
	display: flex;
	justify-content: center;
	color: #fff;
	background: #52575c;
	border-radius: 5px;
	border: none;
	transition: background-color 100ms ease-in-out,
		transform 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
	margin-top: 75px;
	position: relative;
	width: 161px;
	height: 45px;
	left: 40%;
	justify-items: center;
	margin-left: -50px;
	font-family: Montserrat;
	align-items: center;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 36px;
}

.follow-btn :hover {
	background-color: #2f80ed; /*
	-webkit-transform: scale(1.01);
	-ms-transform: scale(1.01);
	transform: scale(1.01);*/
}
.follow-btn-gray :hover {
	background-color: #3b4146; /*
	-webkit-transform: scale(1.01);
	-ms-transform: scale(1.01);
	transform: scale(1.01);*/
}

.title-option {
	text-align: left;

	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 48px;
	line-height: 72px;
	margin-top: 5%;
	margin-left: 10%;

	letter-spacing: 0.002em;

	color: #25282b;
}
center {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 59px;
	text-align: center;
	letter-spacing: 0.002em;

	margin-top: -200px;
	color: #25282b;
}
.title-history {
	margin: 0 auto;
	width: 700px;
	height: 98px;
	justify-items: center;

	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 59px;
	text-align: center;
	letter-spacing: 0.002em;
	/* H1 */
	margin-top: -220px;
	color: #25282b;
}

.about-history {
	margin: 0 auto;
	text-align: center;
	letter-spacing: 0.001em;
	font-weight: normal;
	font-size: 24px;
	line-height: 24px;
	margin-top: 73px;
	display: flex;
	align-items: flex-end;
	letter-spacing: 0.001em;
	color: #303030;
	max-width: 70%;
}

.about-image {
	bottom: 8.85%;
	margin-top: 5%;
}

.about-container {
	margin-left: 37%;
}

.page-footer {
	padding-top: 5%;
}
.drop-btn {
	margin-left: 30%;
}
nav .wrapper {
	position: absolute;
	left: 76%;
	border-radius: 2px;
	top: 65px;
	width: 280px;
	height: 370px;
	background: #f5f5f5;
	display: none;
	transition: all 0.5s ease;
	box-sizing: border-box;
	display: none;
	margin-bottom: 0;
	-webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
}
nav .wrapper.show {
	display: block;
	display: flex;
}
.wrapper ul {
	line-height: 55px;
	width: 400px;
	list-style: none;
	padding: 10px;
	transition: all 0.3s ease;
}
.selects {
	line-height: 50px;
}
.wrapper ul li a {
	position: relative;
	color: #303030;
	font-size: 18px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	padding: 0 10px;
	display: flex;
	border-radius: 8px;
	align-items: center;
	text-decoration: none;
}
ul li a .icon {
	height: 40px;
	width: 40px;
	margin-right: 13px;
	background: #ffffff1a;
	display: flex;
	justify-content: center;
	text-align: center;
	border-radius: 50%;
}
ul li a .icon span {
	line-height: 40px;
	font-size: 20px;
	color: #545454;
}
ul li a i {
	position: absolute;
	font-size: 25px;
	pointer-events: none;
}
.wrapper ul.setting-drop,
.wrapper ul.help-drop {
	display: none;
}
.person-name {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	display: grid;
	place-items: center;
	color: #4f4f4f;
	letter-spacing: -0.005em;
}
hr {
	width: 100%;
	align-items: center;
}
#log-out {
	padding-left: 2px;
	margin: 7px;
	color: #545454;
}
.trash {
	padding-top: 40px;
}
.clipbord {
	padding-top: 15px;
}

/*PARTE RESPONSIVA DO SITE*/

@media screen and (max-height: 450px) {
	.sidenav-language {
		padding-top: 15px;
	}
	.sidenav-language a {
		font-size: 18px;
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		transform: rotate(90deg);
		-webkit-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		-o-transform: rotate(90deg);
		transform: rotate(90deg);
	}
}

@-webkit-keyframes scale-up-center {
	0% {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
@keyframes scale-up-center {
	0% {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
