:root {
	--backwhite: #f4f4f4;
	--background-color: #f4f4f4;
	--input-color: #a0a4a8;
	--black: #25282b;
	--white-second-color: #efefef;
	--black-second-color: #25282b;
	--button-blue-color: #208ac3;
	--header-background: #1072a8;
	--orange-background-alert: #ff9700;
	--background-alert: #ff9700;
	--orange-circle-alert: #f7aa3b;
	--background-btn: #137cb4;
	--tooltip-error: #f7aa3b;
	--orange-circle: #f7aa3b;
	--orange-alert: #ff9700;
	--green-background: #64d08f;
	--conf-color: #2ac769;
	--login-button: #208ac3;
	--button-color: #208ac3;
	--card-border: #008fff;
	--button-read-color: #01508a;
	--button-second-hover: #3b4146;
	--background-btn-hover: #126b9b;
	--follow-button: #2f80ed;
	--follow-button-hover: #2768be;
	--follow-button-gray: #52575c;
	--card-button-hover: #2a74d4;
	--white: #f2f2f2;
	--background-btn: #137cb4;
	--grey-color: #303030;
	--orange-alert: #ff9700;
	--second-black: #303030;
	--blue-selection: #35b0ed;
	--green-background: #64d08f;
	--white-text-color-button-hire: #f2f2f2;
	--navbar-background-dark-theme: #343445;
	--background-body-dark-theme: #282830;
	--second-color-base-dark-theme: #22222b;
	--card-second-button-dark-theme: #2f2f45;
	--background-color-dark-theme: #282830;
	--card-second-button-hover-dark-theme: #1c1c2b;
	--card-main-button-dark-theme: #2c4566;
	--card-main-button-hover-dark-theme: #1b2635;
	--follow-button-color: #2c4566;
	--avatar-color-dark-theme: #5d5d69;
	--footer-color-dark-theme: #282830;
	--about-text-color-dark-theme: #d6d6d6;
	--login-background: #208ac3;
	--text-color-dark-theme: #d6d6d6;
	--name-text-color-dark-theme: #c5c5c5;
}
