:root {
	--background-color: #f4f4f4;
	--input-color: #a0a4a8;
	--white: #f2f2f2;
	--black: #25282b;
	--second-black: #303030;
	--background-color-dark-theme: #282830;
	--text-color-dark-theme: #d6d6d6;
	--background-btn: #137cb4;
	--background-btn-hover: #126b9b;
}

html {
	font-size: 62.5%;
}

body {
	font-family: "Montserrat", sans-serif;
	background-color: var(--background-color);
	-webkit-font-smoothing: antialiased;
	background-color: var(--background-color);
	height: 100vh;
}

a:link {
	color: var(--black);
	text-decoration: none;
}

h1 {
	font-style: normal;
	font-weight: 500;
	line-height: 3.6rem;
	letter-spacing: -0.015em;
	color: var(--black);
	margin-bottom: 20%;
	margin-top: -10%;
}

.arrow-icon {
	filter: drop-shadow(2px 3px 3px rgba(0, 0, 0, 0.15));
	margin-top: 1%;
	margin-left: 2%;
	cursor: pointer;
}

.container-text {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

p.txt {
	text-align: center;
}

.txt {
	font-style: normal;
	font-weight: normal;
	font-size: 1.6rem;
	line-height: 2.4rem;
	text-align: center;
	letter-spacing: 0.001em;
	color: var(--second-black);
	margin-bottom: 20%;
	width: 60%;
	max-width: 80%;
	text-align: center;
}

.bold-text {
	font-weight: 600;
	font-size: 1.8rem;
	line-height: 3.6rem;
}

.price {
	color: var(--second-black);
	letter-spacing: -0.015em;
	font-style: normal;
	font-weight: normal;
	font-size: 1.8rem;
	text-align: center;
	line-height: 3.6rem;
	margin-top: -85px;
}

h1 {
	font-style: normal;
	font-weight: 800;
	font-size: 3.6rem;
	line-height: 3.6rem;
	color: var(--black);
	align-items: flex-end;
	text-align: center;
	letter-spacing: -0.015em;
	margin-top: 1%;
}

main {
	margin: 3% 4% 0% 3%;
	background: var(--background-color);
	border-radius: 10px;
	padding-bottom: 1px;
	box-shadow: 0px 2px 80px rgba(0, 0, 0, 0.1);
	height: 95vh;
	width: 95vw;
}

.sucess-order{
	font-family: Montserrat;
	font-style: normal;
	font-size: 18px;
	color:var(--conf-color);
}

#title {
	font-size: 3.8rem;
	font-weight: 900;
}

.container-form {
	margin-top: 10vh;
	width: 90%;
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
}

.title {
	height: 10vh;
}

textarea {
	font-size: 1.6rem;
	height: 12vh;
}

.area-text {
	font-size: 1.8rem;
}

.prelog {
	letter-spacing: -0.015em;
	font-size: 1.8rem;
	line-height: 3.6rem;
	padding-bottom: 60px;
	margin-bottom: 4vh;
	text-align: center;
}

p {
	text-align: center;
	letter-spacing: 0.001em;
	margin-bottom: 0;
}

#login-button {
	color: var(--white);
	width: 100%;
	font-size: 2rem;
	border-color: var(--background-btn);
	padding: 5px;
	user-select: none;
	border-style: none;
	background: var(--background-btn);
	box-shadow: 0px 8px 16px rgba(0, 126, 255, 0.16);
	border-radius: 8px;
	border-radius: 5px;
	margin-top: 5%;
	letter-spacing: 0.2px;
	margin-bottom: 5%;
	height: calc(1.5em + 0.75rem + 10px);
}

#login-button:hover {
	background-color: var(--background-btn-hover);
	transition: 0.6s;
}

label {
	font-weight: 500;
	font-size: 1.6rem;
	line-height: 2.4rem;
	letter-spacing: 0.1px;
	color: var(--black);
}

input {
	border: 1px solid var(--input-color);
	box-sizing: border-box;
	border-radius: 5px;
}

.tiny-message {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.6rem;
}

@media (prefers-color-scheme: dark) {
	html,
	main,
	html main,
	body {
		background-color: var(--background-color-dark-theme);
	}

	main {
		box-shadow: 2px 2px 80px rgba(26, 81, 131, 0.15);
		border-radius: 10px;
	}

	h1,
	.tiny-message,
	.price,
	label,
	.prelog {
		color: white;
	}

	.txt {
		color: var(--white);
	}
}

@media (max-width: 426px) {
	html {
		font-size: 50%;
	}

	.tiny-message {
		flex-direction: column;
	}

	a:link {
		color: white;
	}

	#mySidebar {
		width: 100vw;
	}
}
