:root {
	--backwhite: #f4f4f4;
	--white-second-color: #efefef;
	--black-second-color: #25282b;
	--button-blue-color: #208ac3;
	--header-background: #1072a8;
	--orange-background-alert: #ff9700;
	--orange-circle-alert: #f7aa3b;
	--card-border: #008fff;
	--button-read-color: #01508a;
	--button-second-hover: #3b4146;
	--follow-button: #2f80ed;
	--follow-button-hover: #2768be;
	--follow-button-gray: #52575c;
	--card-button-hover: #2a74d4;
	--grey-color: #303030;
	--blue-selection: #35b0ed;
	--white-text-color-button-hire: #f2f2f2;
	--navbar-background-dark-theme: #343445;
	--background-body-dark-theme: #282830;
	--second-color-base-dark-theme: #22222b;
	--card-second-button-dark-theme: #2f2f45;
	--card-second-button-hover-dark-theme: #1c1c2b;
	--card-main-button-dark-theme: #2c4566;
	--card-main-button-hover-dark-theme: #1b2635;
	--follow-button-color: #2c4566;
	--avatar-color-dark-theme: #5d5d69;
	--footer-color-dark-theme: #282830;
	--about-text-color-dark-theme: #d6d6d6;
	--name-text-color-dark-theme: #c5c5c5;
}
* {
	text-rendering: optimizeLegibility;
}

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}
body {
	font-family: "Montserrat", sans-serif;
	background-color: var(--backwhite);
	-webkit-font-smoothing: antialiased;
	max-height: 100%;
	margin: auto;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	font-size: 1.4rem;
}

a:link {
	color: #000000;
	text-decoration: none;
}

.grow:hover {
	color: #000000;
	-webkit-transform: scale(1.04);
	-ms-transform: scale(1.04);
	transform: scale(1.04);
}

header {
	background-color: #f4f4f4;
}

header .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 90%;
	max-width: 1200px;
	margin: 0;
}

header nav ul {
	display: flex;
	margin: 0;
	text-align: center;
}

header nav ul li {
	display: flex;
	text-align: center;
	list-style: none;
}

header nav ul button {
	margin-bottom: auto;
	margin-top: auto;
}

header nav ul li a {
	text-decoration: none;
	font-weight: 500;
	text-transform: uppercase;
	font-size: 1.4rem;
	padding: 2.4rem;
	transition: all 250ms linear 0s;
}

.menu-toggle {
	cursor: pointer;
}

#login-button {
	margin-top: auto;
	margin-bottom: auto;
	padding-left: 6rem;
	padding-right: 6rem;
}

.button {
	display: inline-block;
	font-size: 1.6rem;
	font-weight: 600;
	color: rgb(255, 255, 255);
	background-color: rgb(113, 89, 193);
	margin: 15px 0px 0px;
	padding: 12px 30px;
	text-decoration: none;
	border-radius: 5px;
	transition: all 150ms linear 0s;
}

.sidenav-language {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #f4f4f4;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	box-shadow: 20px 0px 25px rgba(0, 0, 0, 0.25);
	overflow: hidden;
}

.sidenav-language a {
	padding: 4px 4px 0px 10px;
	font-weight: 600;
	text-decoration: none;
	font-size: 2.5rem;
	color: #303030;
	display: block;
	transition: 0.3s;
}

.sidenav-language #check-icon {
	margin-left: 25%;
}

.sidenav-language a:hover {
	color: #25282b;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.sidenav-language .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 3.6rem;
	margin-left: 50px;
}

.sidenav-language .dark-theme #toggle-icon {
	color: #25282b;
}

.dark-theme {
	font-weight: 500;
	color: #52575c;
	padding-top: 200%;
	margin-left: 35%;
}

#main {
	transition: margin-left 0.5s;
	background-color: #f4f4f4;
	padding: none;
}

.transition {
	opacity: 1;
}

header .btn {
	display: flex;
	width: 105.56px;
	height: 40px;
	color: #ffffff;
	background-color: #1072a8;
	border-radius: 10px;
	border-color: #1072a8;
	justify-content: center;
	align-items: center;
	margin: 0;
	font-weight: 400;
	font-size: 1.8rem;
	padding-top: 5px;
}

#hire-button {
	background: var(--button-blue-color);
	border-radius: 10px;
	border-color: var(--button-blue-color);
	font-size: 2rem;
	color: var(--white-text-color-button-hire);
	border-radius: 10px;
	font-weight: 500;
	padding: 8px 30.7px;
	margin-left: 15px;
}

#read-button {
	background-color: transparent;
	border-radius: 10px;
	border-color: var(--button-read-color);
	font-size: 2rem;
	color: var(--button-read-color);
	border-radius: 10px;
	font-weight: 500;
	padding: 8px 30.7px;
	margin-left: 15px;
}

#read-button-a {
	font-size: 2rem;
}

#read-button-a:hover {
	color: white;
}

#login-button {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.login {
	margin: 0;
}

.btn:hover {
	-webkit-transform: translateY(1px);
	transform: translateY(1px);
}

#globe-icon {
	color: #52575c;
}

.btn-language {
	padding-right: 2rem;
	border: none;
	background-color: transparent;
}

.btn-language:focus {
	outline: none;
}

.btn-language:active {
	outline: none;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

header {
	background: var(--white-second-color);
}

.title {
	color: #25282b;
	font-weight: 500;
	font-size: 5.4rem;
	text-align: center;
	margin-top: 3%;
	letter-spacing: -0.005em;
	line-height: 120%;
	-webkit-animation: scale-up-center 0.3s cubic-bezier(0.39, 0.575, 0.565, 1)
		both;
	animation: scale-up-center 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.subtitle {
	font-weight: 300;
	font-size: 2.4rem;
	text-align: center;
	letter-spacing: 0.035em;
	line-height: 133.5%;
}

.hire-button {
	background: var(--button-blue-color);
	border-radius: 10px;
	border-color: var(--button-blue-color);
	font-size: 2rem;
	color: var(--white-text-color-button-hire);
	border-radius: 10px;
	font-weight: 500;
	padding: 8px 30.7px;
	margin-left: 15px;
}

.read-button {
	background-color: transparent;
	border-radius: 10px;
	border-color: var(--button-read-color);
	font-size: 2rem;
	color: var(--button-read-color);
	border-radius: 10px;
	font-weight: 500;
	padding: 8px 30.7px;
	margin-left: 15px;
}

.read-button-a {
	font-size: 2rem;
	color: white;
}

.read-button-a:hover {
	color: white;
}

.see-more {
	color: black;
}

.see-more:hover {
	color: black;
}

#read-button-a:hover {
	color: white;
}

.container-button :hover {
	-webkit-transform: translateY(1px);
	transform: translateY(1px);
}

.container-button {
	display: flex;
	flex-wrap: wrap;
	margin-top: 3%;
	justify-content: center;
}
.content-img {
	margin-top: 30px;
}
.wrapper {
	margin-top: 10%;
}

.read-button-a:active {
	color: white;
}

a .read-button-a {
	color: white;
}

.card-grup {
	display: flex;
	justify-content: space-evenly;
	width: auto;
	text-align: center;
	flex-wrap: wrap;
}

#read:link {
	color: white;
}

#read:active {
	color: white;
}

a {
	cursor: pointer;
}

.container-footer {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.card-grup .card {
	background: #fff;
	margin-top: 50px;
	padding: 40px;
	width: 350px;
	height: 480px;
	line-height: 20px;
	color: #8e8b8b;
	position: relative;
	align-items: center;
	border-radius: 6px;
	border-style: none;
}
.card-grup .card-bigger .card {
	border-top: 7px solid #008fff;
}

.card-grup .card h3 {
	font: 800 3.6rem Montserrat;
	letter-spacing: -0.015em;
	color: #25282b;
	margin-top: 20px;
}
.card-grup .card p.info-text {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 1.6rem;
	line-height: 2.4rem;
	letter-spacing: 0.001em;
	color: #303030;
	margin-top: 10%;
}
.card-grup .card p.role {
	color: #ccc;
	margin: 12px 0;
	font-size: 12px;
	text-transform: uppercase;
}

.card-grup .card .avatar {
	position: absolute;
	top: -50px;
	left: 50%;
	transform: translateX(-50%);
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: #fff;
	box-shadow: 1px 5px 4px rgba(0, 0, 0, 0.1), 1px 2px 4px rgba(0, 0, 0, 0.1),
		0px 4px 4px rgba(0, 0, 0, 0.1);
}

.card-grup .card .avatar img {
	width: 100px;
	height: 100px;
	padding: 10px;
}

.card-grup .card button {
	align-items: center;
	background: #52575c;
	color: #fff;
	margin-top: 50%;
	border-radius: 5px;
	border: none;
	width: 159px;
	height: 44px;
	font: 600 14px Montserrat;
	padding-top: 15px;
	padding-bottom: 15px;
}
.card-grup .card button.btn-blue {
	background: #2f80ed;
	margin-top: 34%;
}
.value {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 300;
	font-size: 1.6rem;
	line-height: 3.6rem;
	letter-spacing: -0.015em;
	color: #000000;
	display: flex;
	justify-content: center;
}
.price-text {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 1rem;
	line-height: 5px;
	letter-spacing: -0.015em;
	color: #52575c;
}
.reverse-title {
	word-spacing: 5px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 2.4rem;
	line-height: 3.6rem;
	letter-spacing: -0.015em;
	color: #25282b;
}

.follow-btn :hover {
	background-color: #2f80ed; /*
	-webkit-transform: scale(1.01);
	-ms-transform: scale(1.01);
	transform: scale(1.01);*/
}
.follow-btn-gray :hover {
	background-color: #3b4146; /*
	-webkit-transform: scale(1.01);
	-ms-transform: scale(1.01);
	transform: scale(1.01);*/
}

.title-option {
	text-align: left;

	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 4.8rem;
	line-height: 7.2rem;
	margin-top: 5%;
	margin-left: 10%;

	letter-spacing: 0.002em;

	color: #25282b;
}

.title-history {
	margin: 0 auto;
	justify-items: center;

	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 4.8rem;
	line-height: 5.9rem;
	text-align: center;
	letter-spacing: 0.002em;
	/* H1 */
	margin-top: 40px;
	color: #25282b;
}

.about-history {
	margin: 0 auto;
	text-align: center;
	letter-spacing: 0.001em;
	font-weight: normal;
	font-size: 2.4rem;
	line-height: 2.4rem;
	margin-top: 73px;
	display: flex;
	align-items: flex-end;
	letter-spacing: 0.001em;
	color: #303030;
	max-width: 70%;
}

.about-image {
	bottom: 8.85%;
	margin-top: 5%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	transition: transform 0.2s;
}

.about-image:hover {
	-ms-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

#main-button:hover {
	background-color: #2a74d4;
}

#img-main {
	transition: transform 0.2s;
}

#img-main:hover {
	-ms-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

.page-footer {
	padding-top: 5%;
}

.alert {
	background: #ff9700;
	padding: 20px 40px;
	min-width: 420px;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -48px;
	padding-bottom: 1%;
	border-radius: 4px;
	overflow: hidden;
	pointer-events: none;
	z-index: 10;
	opacity: 0.4;
	-webkit-transition: opacity 06s linear;
	-moz-transition: opacity 0.6s linear;
	-ms-transition: opacity 0.6s linear;
	-o-transition: opacity 0.6s linear;
	transition: opacity 0.6s linear;
}

.transition {
	opacity: 1;
}

p::selection {
	background-color: #35b0ed;
	color: white;
}

.circle {
	border-radius: 50%;
	background-color: #f7aa3b;
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 6rem;
	height: 50px;
	width: 50px;
}
.alert .fa-exclamation-circle {
	display: flex;
	padding-top: 20%;
	justify-content: center;
	color: #ffffff;
	font-size: 3rem;
}
.alert .msg-title {
	padding: 0 30px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 800;
	font-size: 1.8rem;
	color: #ffffff;
}

.alert .msg {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 1.4rem;
	line-height: 3rem;
	padding: 0 30px;
	color: #ffffff;
}
.port-title {
	padding-top: 10%;
	display: flex;
	justify-content: center;
	font-family: Montserrat;
	font-size: medium;
}

.drop-btn {
	position: absolute;
	right: 0;
	margin-right: 4vw;
	margin-top: 2vh;
}
.settings {
	margin-right: 60%;
}
#settings-icon {
	cursor: pointer;
}
#settings-icon:hover {
	cursor: pointer;
	animation: spin 0.7s;
}
#chevron-down:hover {
	cursor: pointer;
}
.combo-box {
	position: absolute;
	border-radius: 2px;
	top: 100%;
	width: 280px;
	height: 370px;
	background: #f5f5f5;
	display: none;
	transition: all 0.5s ease;
	box-sizing: border-box;
	display: none;
	margin-bottom: 0;
	-webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
}
.show {
	display: block;
	display: flex;
	right: 0;
	top: 10vh;
	z-index: 10;
}
.combo-box ul {
	line-height: 4.8rem;
	width: 400px;
	list-style: none;
	padding-top: 10px;
	transition: all 0.3s ease;
}
.selects {
	line-height: 50px;
}
.combo-box ul li a {
	position: relative;
	color: #303030;
	font-size: 1.8rem;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	padding: 0 10px;
	display: flex;
	border-radius: 8px;
	align-items: center;
	text-decoration: none;
}
ul li a .icon {
	height: 40px;
	width: 40px;
	margin-right: 13px;
	background: #ffffff1a;
	display: flex;
	justify-content: center;
	text-align: center;
	border-radius: 50%;
}
ul li a .icon span {
	line-height: 40px;
	font-size: 2rem;
	color: #545454;
}
ul li a i {
	position: absolute;
	font-size: 2.5rem;
	pointer-events: none;
}
.combo-box ul.setting-drop,
.combo-box ul.help-drop {
	display: none;
}

a {
	cursor: pointer;
}

.person-name {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 1.7rem;
	display: grid;
	place-items: center;
	color: #4f4f4f;
	letter-spacing: -0.005em;
}
hr {
	width: 100%;
	align-items: center;
}
#log-out {
	padding-left: 2px;
	margin: 7px;
	color: #545454;
}
.trash {
	padding-top: 40px;
}
.clipbord {
	padding-top: 0px;
}
/*Portifolio*/
.title-port {
	padding-top: 7%;
	font: 600 4.8rem Montserrat;
	display: flex;
	justify-content: center;
}
#portfolio {
	justify-content: center;
	margin: 1rem 0;
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
	margin-top: 7%;
	-webkit-column-gap: 1rem;
	-moz-column-gap: 1rem;
	column-gap: 1rem;
	-webkit-column-width: 33.33333333333333%;
	-moz-column-width: 33.33333333333333%;
	column-width: 33.33333333333333%;
	max-width: 900px;
	margin: auto;
}
.tile {
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 350ms ease;
	transition: all 350ms ease;
}
.scale-anm {
	transform: scale(1);
}

.tile img {
	display: flex;
	justify-content: center;
	max-width: 100%;
	width: 100%;
	height: auto;
	margin-bottom: 1rem;
}
.toolbar {
	display: flex;
	justify-content: center;
}
.btn {
	font: 500 10% Montserrat;
	font-size: 1.5rem;
	font-weight: normal;
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
	line-height: normal;
	padding: 0.5rem 1rem;
	border-radius: 30px;
	margin: 0;
	height: auto;
	border: 1px solid;
	vertical-align: middle;
	border: none;
	-webkit-appearance: none;
	background-color: #e9e9e9;
	color: #949494;
	margin-left: 2%;
	margin-right: 2%;
}

.btn:hover {
	transform: none;
	background-color: #208ac3;
	border-color: transparent;
	box-shadow: none;
	color: #fff;
}

.btn:focus {
	outline: none;
	border-color: var(--darken-2);
	box-shadow: 0 0 0 3px var(--darken-3);
}

/*Acaba começa o delete*/
#delete-account-button {
	transform: scale(1);
}

#delete-account {
	transform: scale(1.3);
}

.delete {
	text-align: center;
	margin: 24px 0 12px 0;
	position: relative;
}

.delete .delete-group {
	background: #fff;
	position: fixed;
	top: 50%;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
	width: 400px;
	height: 254px;
	padding: 20px;
	line-height: 20px;
	color: #8e8b8b;
	border-top: 7px solid red;
	border-radius: 5px;
	z-index: 10;
}

.delete .delete-group h3 {
	font: 500 2.4rem Montserrat;
	letter-spacing: -0.015em;
	color: #25282b;
	font-size: 18px;
	margin-top: 20px;
}
.delete .delete-group .delete-icon {
	position: absolute;
	top: -30px;
	left: 50%;
	transform: translateX(-50%);
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: red;
	box-shadow: 1px 5px 4px rgba(0, 0, 0, 0.1), 1px 2px 4px rgba(0, 0, 0, 0.1),
		0px 4px 4px rgba(0, 0, 0, 0.1);
}

.delete .delete-group .delete-icon img {
	width: 50px;
	height: 50px;
	padding: 10px;
}

.delete .delete-group .btn-delete {
	display: flex;
	justify-content: space-around;
}
.delete .delete-group button {
	justify-content: center;
	background: #52575c;
	color: #fff;
	margin-top: 10%;
	border-radius: 5px;
	border: none;
	width: 137px;
	height: 38px;
	font: 600 14px Montserrat;
}

.icon-delete-animation {
	animation: scale-down-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) none;
}

.hide-delete {
	display: none;
}
/*Acaba aqui o delete*/

#btn-white {
	background: #ffffff;
	color: #000000;
	border: 2px solid #000000;
	box-sizing: border-box;
	border-radius: 6px;
	cursor: pointer;
}
.title-delete {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	line-height: 16px;
	margin-top: 14px;
	letter-spacing: -0.015em;
	color: #828282;
	display: flex;
	justify-content: center;
}
.info-delete {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	line-height: 16px;
	letter-spacing: -0.015em;
	color: #828282;
	padding-top: 10px;
}

.ml-auto,
.mx-auto {
	margin-left: 0 !important;
}

::-moz-focus-inner {
	border: 0;
	padding: 0;
}
/*PARTE RESPONSIVA DO SITE*/
@media (min-height: 1186) {
	.nav-link {
		padding-left: 0;
	}
}
@media screen and (max-height: 450px) {
	.sidenav-language {
		padding-top: 15px;
	}
	.sidenav-language a {
		font-size: 18px;
	}
}
.hide {
	background-color: #f4f4f4;
	color: #f4f4f4;
	width: 0px;
	height: 0px;
	max-width: 0px;
	min-width: 0px;
	padding: 0px 0px 0px 0px;
}

@-webkit-keyframes scale-up-center {
	0% {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes scale-down-center {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	100% {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		transform: rotate(90deg);
		-webkit-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		-o-transform: rotate(90deg);
		transform: rotate(90deg);
	}
}

@keyframes scale-up-center {
	0% {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

.buzz {
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	animation: buzz infinite 0.4s;
}

@keyframes buzz {
	0% {
		-webkit-transform: translateX(0px) rotate(0deg);
		transform: translateX(0px) rotate(0deg);
	}
	20% {
		-webkit-transform: translateX(3px) rotate(2deg);
		transform: translateX(3px) rotate(2deg);
	}
	40% {
		-webkit-transform: translateX(-3px) rotate(-2deg);
		transform: translateX(-3px) rotate(-2deg);
	}
	60% {
		-webkit-transform: translateX(3px) rotate(2deg);
		transform: translateX(3px) rotate(2deg);
	}
	80% {
		-webkit-transform: translateX(-3px) rotate(-2deg);
		transform: translateX(-3px) rotate(-2deg);
	}
	100% {
		-webkit-transform: translateX(0px) rotate(0deg);
		transform: translateX(0px) rotate(0deg);
	}
}

/* Lower than 1230 pixel the card broke */
@media (max-width: 1230px) {
	html {
		font-size: 50%;
	}
}

@media (max-width: 769px) {
	* {
		font-size: 30%;
	}
}

@media (prefers-color-scheme: dark) {
	html {
		background-color: var(--navbar-background-dark-theme);
	}

	body,
	.sidenav-language {
		background-color: var(--background-body-dark-theme);
		color: white;
	}

	.title,
	.title-option,
	.title-history,
	a:link,
	a,
	a:active,
	.desc-card,
	li a,
	a:active,
	li a:link,
	li a,
	li a:hover,
	.value,
	.sidenav-language a:hover,
	.card-grup .card h3,
	.card-grup .card p.info-text,
	.reverse-title,
	.delete .delete-group h3,
	.price-text,
	.delete .delete-group h3,
	.nav-item,
	.nav-link,
	.sidenav-language a,
	.navbar-expand-lg .navbar-nav .nav-link,
	#about-a,
	.person-name,
	.combo-box ul li a,
	.see-more,
	p,
	h1,
	h2 {
		color: white;
	}

	.about-history {
		color: var(--about-text-color-dark-theme);
	}

	#read-button,
	#hire-button,
	.navbar {
		box-shadow: 2px 2px 5px rgba(26, 81, 131, 0.15);
	}

	header {
		background: #22222b;
	}

	#main {
		background-color: #282830;
	}

	.navbar {
		box-shadow: 0px 0px 0px rgba(26, 81, 131, 0.15);
	}

	.card,
	.card-maior {
		background-color: var(--navbar-background-dark-theme);
	}

	.name {
		color: var(--name-text-color-dark-theme);
	}

	.follow-btn-gray button {
		background-color: var(--card-second-button-dark-theme);
	}

	.follow-btn button {
		background-color: var(--follow-button-color);
	}

	.follow-btn :hover,
	#main-button:hover {
		background-color: var(--card-main-button-hover-dark-theme);
	}

	.follow-btn-gray :hover {
		background-color: var(--card-second-button-hover-dark-theme);
	}

	.avatar {
		background-color: var(--avatar-color-dark-theme);
	}

	.container,
	.bg-light {
		background-color: var(--second-color-base-dark-theme);
		color: white;
	}

	.btn-language {
		background-color: var(--second-color-base-dark-theme);
	}

	#footer {
		background-color: var(--footer-color-dark-theme);
	}

	.bg-light {
		background-color: var(--second-color-base-dark-theme) !important;
	}

	.card-grup .card {
		background: var(--navbar-background-dark-theme);
	}

	.card-grup .card .avatar {
		background: var(--avatar-color-dark-theme);
	}

	.combo-box ul {
		background: var(--background-body-dark-theme);
	}

	.combo-box {
		background: none;
		border: 1px solid #ffffff;
	}

	.delete .delete-group {
		background: var(--second-color-base-dark-theme);
	}

	#btn-white {
		border: 2px solid white;
	}
}
@media (max-width: 1440px) {
	html {
		font-size: 50%;
	}

	.container-button-login {
		position: initial;
	}
}

@media (max-width: 700px) {
	.alert {
		margin-top: -48px;
	}
	.circle {
		left: 10px;
		top: 35%;
		height: 10px;
		width: 10px;
	}

	header .btn {
		width: 75.56px;
		height: 33px;
	}
}

@media (max-width: 480px) {
	p {
		text-align: center;
	}

	.title-option {
		text-align: initial;
	}

	#portfolio {
		width: 90%;
		max-width: 460px;
		margin-bottom: 43%;
	}

	.alert {
		padding: 0;
	}

	.circle {
		left: 12px;
		top: 8px;
		width: 0px;
		height: 0px;
	}

	.navbar-toggler {
		position: unset;
		padding: 0;
	}
}

@media (max-width: 400px) {
	html {
		font-size: 40%;
	}

	.card-grup .card {
		width: 260px;
		height: 355px;
	}

	.card-grup .card button {
		margin-top: 10%;
	}

	.card-grup .card button.btn-blue {
		margin-top: 10%;
	}

	.navbar-toggler {
		position: unset;
	}
}
