:root {
	--background-color: #f4f4f4;
	--input-color: #a0a4a8;
	--white: #f2f2f2;
	--black: #25282b;
	--button-color: #208ac3;
	--second-black: #303030;
	--background-color-dark-theme: #282830;
	--text-color-dark-theme: #d6d6d6;
	--background-btn: #137cb4;
	--background-btn-hover: #126b9b;
}

body {
	font-family: "Montserrat", sans-serif;
	background-color: var(--background-color);
	-webkit-font-smoothing: antialiased;
	margin-left: 5vw;
	margin-right: 5vw;
}

a:link {
	color: black;
	text-decoration: none;
}

.container-form-image {
	display: flex;
	justify-content: space-around;
	margin-top: 15%;
	align-items: center;
}

h1 {
	font-style: normal;
	font-weight: 500;
	letter-spacing: -0.015em;
	color: var(--black);
	margin-bottom: 20%;
	margin-top: -10%;
}

label {
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.1px;
	color: var(--black);
}

input {
	border: 1px solid var(--input-color);
	box-sizing: border-box;
	border-radius: 5px;
}

#login-button {
	color: var(--white);
	width: 100%;
	font-size: 20px;
	background: var(--button-color);
	border-color: var(--button-color);
	padding: 5px;
	user-select: none;
	border-style: none;
	background: var(--button-color);
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	margin-top: 5%;
	margin-bottom: 5%;
	height: calc(1.5em + 0.75rem + 10px);
}

#login-button:hover {
	background-color: var(--background-btn-hover);
	transition: 0.6s;
}

.img-login {
	filter: drop-shadow(1px 3px 4px rgba(0, 0, 0, 0.15));
	cursor: pointer;
}

#jigsaw {
	transition: transform 0.2s;
}

#jigsaw:hover {
	-ms-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

small {
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 36px;
	letter-spacing: -0.015em;
	color: var(--black);
	text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.15);
}

u {
	cursor: pointer;
}

#error-message{
	color: darkred;
}

.arrow-icon {
	filter: drop-shadow(2px 3px 3px rgba(0, 0, 0, 0.15));
	margin-top: 1%;
	margin-left: 2%;
	cursor: pointer;
}

.login-input{
	font-size: 1.2rem;
}

@media (prefers-color-scheme: dark) {
	html,
	main,
	html main,
	body {
		background-color: var(--background-color-dark-theme);
	}

	#error-message{
		color: darkred;
	}

	#account,
	a,
	a:hover,
	a:link,
	label,
	h1 {
		color: white;
	}
}

@media (max-width: 500px) {
	.container-form-image {
		flex-direction: column;
	}
	#jigsaw {
		order: 0;
	}
}
