:root {
	--background-color: #f4f4f4;
	--input-color: #a0a4a8;
	--white: #f2f2f2;
	--black: #25282b;
	--second-black: #303030;
	--background-color-dark-theme: #282830;
	--text-color-dark-theme: #d6d6d6;
	--background-btn: #137cb4;
	--background-btn-hover: #126b9b;
	--login-background: #208ac3;
	--green-background: #64d08f;
	--conf-color: #2ac769;
	--orange-circle: #f7aa3b;
	--orange-alert: #ff9700;
}

html {
	font-size: 62.5%;
}

html,
body {
	height: 100%;
}
body {
	font-family: "Montserrat", sans-serif;
	background-color: var(--background-color);
	-webkit-font-smoothing: antialiased;
	overflow: hidden;
}

a:link {
	color: black;
	text-decoration: none;
}

h2 {
	margin-top: -0.5%;
}

label {
	font-weight: 500;
	font-size: 1.6rem;
	line-height: 24px;
	letter-spacing: 0.1px;
	color: black;
}

input {
	border: 1px solid var(--input-color);
	box-sizing: border-box;
	border-radius: 4px;
	max-height: 25px;
	margin-left: 10px;
}

.form-control {
	padding-right: 16.75rem !important;
	width: 30vw;
}

main {
	margin: 8% 0% 0% 10%;
}

.search {
	display: flex;
}

.data-grid {
	background-color: #ffffff;
	width: 80vw;
}

.arrow-icon {
	filter: drop-shadow(2px 3px 3px rgba(0, 0, 0, 0.15));
	margin-top: 1%;
	margin-left: 2%;
	cursor: pointer;
}

.search-container {
	display: flex;
	margin-bottom: -0.5%;
	margin-left: 20%;
}

#login-button:hover {
	background-color: var(--background-btn);
	transition: 0.6s;
}

#hire-button {
	color: var(--white);
	font-size: 2rem;
	background: var(--login-background);
	border-color: var(--login-background);
	border-radius: 5px;
	margin-top: 4%;
	padding: 15px 10% 15px 10%;
	user-select: none;
	border-style: none;
	box-shadow: 0px 3px 4px rgba(136, 136, 136, 0.25);
	margin-right: 15px;
}

th,td{
	font-size: 1.6rem;
}

.area-text{
    font-size: 1.6rem;
}

.check{
	outline: none;
	border: none;
	border-style: none;
	background: transparent;
}

.check:hover{
	cursor: pointer;
}

#check-button{
	outline: none;
	border: none;
	border-style: none;
	background: transparent;
}

#check-button:hover{
	cursor: pointer;
}


#track{
	font-size: 1.4rem;
    font-weight: 600;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: var(--background-color-dark-theme);
	}

	h2 {
		color: white;
	}

	#search-icon {
		color: white;
	}
}
@media (max-width: 800px) {
	.search {
		flex-direction: column;
	}
	.search-container {
		margin-left: 0;
	}
}
